<!DOCTYPE html>
<html>
    <head>
        <title>Kegger</title>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="btn-group" role="group" aria-label="UI">
                <a href="/api/level"    class="btn btn-success btn-lg">Level</a>
                <a href="/api/config"   class="btn btn-success btn-lg">Config</a>
                <a href="/api/weight"   class="btn btn-success btn-lg">Weight</a>
            </div>
        </div>
    </body>
</html>
