<!DOCTYPE html>
<html>
    <head>
        <title>Kegger</title>
        <meta charset="utf-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>

        <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
        </script>
    </head>
    <body>
        <div class="container-fluid">
        <ol>
            <li>
                <a href="/reset" class="btn btn-danger btn-lg">Reset Scale</a>
            </li>
            <li>
                <a href="/newkeg" class="btn btn-primary btn-lg">New Keg!</a>
            </li>
        </ol>
        <ul>
            <li><a href="/update">Update Configuration</a></li>
            <li><a href="/config">config.json</a></li>
        </ul>
        </div>
    </body>
</html>
